### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [145]:
# import dependencies
import pandas as pd
import numpy as np

# load file
file = "../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# read file and store into pandas dataframe
purchase_data = pd.read_csv(file)
print(purchase_data)

     Purchase ID               SN  Age                 Gender  Item ID  \
0              0          Lisim78   20                   Male      108
1              1      Lisovynya38   40                   Male      143
2              2       Ithergue48   24                   Male       92
3              3    Chamassasya86   24                   Male      100
4              4        Iskosia90   23                   Male      131
5              5          Yalae81   22                   Male       81
6              6        Itheria73   36                   Male      169
7              7      Iskjaskst81   20                   Male      162
8              8        Undjask33   22                   Male       21
9              9      Chanosian48   35  Other / Non-Disclosed      136
10            10        Inguron55   23                   Male       95
11            11     Haisrisuir60   23                   Male      162
12            12     Saelaephos52   21                   Male      116
13            13      Assjaskan73   22                   Male        4
14            14      Saesrideu94   35                   Male      165
15            15        Lisassa64   21                 Female       98
16            16        Lisirra25   20                   Male       40
17            17        Zontibe81   21                   Male      161
18            18        Reunasu60   22                 Female       82
19            19        Chamalo71   30                   Male       89
20            20     Iathenudil29   20                   Male       57
21            21    Phiarithdeu40   20                   Male      168
22            22     Siarithria38   38  Other / Non-Disclosed       24
23            23         Eyrian71   40                   Male      151
24            24          Siala43   30                   Male      141
25            25        Lisirra87   29                   Male      178
26            26       Lirtossa84   11                   Male       71
27            27          Eusri44    7                   Male       96
28            28           Aela59   21                   Male      119
29            29          Tyida79   24                   Male       37
..           ...              ...  ...                    ...      ...
750          750         Iljask75   22                   Male      167
751          751      Lisjaskan36   11                   Male      180
752          752    Mindjasksya61   17                   Male      112
753          753   Frichirranya75   36                   Male      178
754          754  Pheosurllorin41   23                 Female       79
755          755         Raesty92   12                   Male       76
756          756          Ilast79   20                   Male       73
757          757        Eratiel90   18                   Male       57
758          758           Iral74   21                   Male      182
759          759      Tyaelorap29   25                   Male       72
760          760       Aithelis62   21                   Male       44
761          761          Assim27   45                   Male       17
762          762           Asur53   26                   Male      110
763          763     Lassilsala30   21                   Male       85
764          764     Saedaiphos46   18                   Male      113
765          765          Irith83   18                   Male      130
766          766     Aelastirin39   23                   Male       58
767          767          Ilmol66    8                 Female       92
768          768     Assassasta79   38                   Male       92
769          769        Ilosian36   15                   Male      145
770          770       Lirtosia63   34                   Male       12
771          771     Iskossasda43   16                   Male       25
772          772           Asur53   26                   Male      136
773          773           Hala31   21                   Male       19
774          774       Jiskjask80   11                   Male      101
775          775       Aethedru70   21                 Female       60
776          776           Iral74   21                   Male      164
777          777       Yathecal72   20                   Male       67
778          778          Sisur91    7                   Male      101
779          779        Ennrian78   24                   Male       50

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater    1.1
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish    1.7
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana    4.9
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence    4.6
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance    3.4
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
750                   Malice, Legacy of the Queen   3.61
751                                   Stormcaller   3.36
752                                  Worldbreaker    2.6
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence    4.6
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth    1.7
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn    4.6

[780 rows x 7 columns]

In [146]:
# identify columns
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [147]:
# count players
print(len(purchase_data))

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
# calculate totals
total_items = len(purchase_data['Item ID'].value_counts())
average_price = round(purchase_data["Price"].mean(), 2)
total_purchases = purchase_data['Item Name'].count()
total_revenue = purchase_data["Price"].sum()

# create dataframe
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_items],
                                           "Average Price": ["$" + str(average_price)],
                                           "Number of Purchases": [total_purchases],
                                           "Total Revenue": ["$" + str('{:,}'.format(total_revenue))]})
# print dataframe
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [312]:
# calculate total players
total_players = len(purchase_data['SN'].value_counts())

# calculate individual player type totals
players_male = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
players_female = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
players_other = total_players - players_male - players_female

male = (players_male / total_players) * 100
female = (players_female / total_players) * 100
other = (players_other / total_players) * 100

# create dataframe formatted to round off to 2 decimal points
gender_analysis = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                                "Total Count": [players_male, players_female, players_other],
                                "Percentage of Players": [male, female, other]}).round(2)

# set index and print
gender_analysis = gender_analysis.set_index('')
gender_analysis

                     Total Count  Percentage of Players

Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame